<form onSubmit={{fn this.submit @model}}>
  <input placeholder='Add todo' type='text' value={{this.text.todo}} onChange={{fn this.onChange}}/>
  <button type='submit'>Add</button>
</form>

<ul>
  {{#each @model as |item|}}
    {{#if item.id}}
      <li>
        {{item.todo}}
        <button onclick={{fn this.delete @model item}} type="button">x</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
